.home-page {
	.banner {
		background-image: url('../../img/start-bg.jpg');
		background-size: cover;
		color: #fff;
		padding: 20px;
		text-align: center;
		.title {
			font-size: 13px;
			line-height: 20px;
			padding: 20px 0;
			text-transform: capitalize;
			strong { display: block; font-size: 16px; line-height: 30px;}
		}
		table {
			text-transform: capitalize;
			width: 100%;
			th {font-size: 13px; font-weight: normal; line-height: 20px;}
			td {font-size: 14px; line-height: 16px;}
		}
		.due-detail { padding: 10px 0;}
		button[outline] {
			border-color: #fff;
			color: #fff;
		}
	}
}
.status-label {
	background-color: map-get($colors, primary);
	color: #fff;
	display: inline-block;
	font-size: 12px;
	padding: 2px 5px;
}
.card-footer{
	button {
		text-align: left;
	}
}