html {
	background-color: $html-bg;
	body {
		@include font-size($font-xs, $font-sm, $font-md);
		@include line-height($lineheight-xs, $lineheight-sm, $lineheight-md);
		font-family: $font-family;
		.leftmenu {
			@include position(fixed, 0 auto 0 (-$left-nav-width));
			@include transition(all $normal ease-out);
			background-color: $white;
			box-shadow: $shadow1;
			padding: $fixed-header-height 0 0 0;
			width: $left-nav-width;
			z-index: $zindex1;
			&.active {
				left: 0;
			}
			.user-info {
				background-image: url('../img/user-bg.jpg');
				color: $white;
				height: 100px;
				padding: $padding1;
				text-transform: capitalize;
				.image-cell {
					width: 35%;
					.user-img {
						background-color: $primary;
						border-radius: $half;						
						font-size: 24px;
						height: 50px;
						line-height: 50px;
						width: 50px;
					}
				}
			}
			.side-nav {
				padding: $padding1 0;
				li {
					a {
						color: $font-color2;
						display: block;
						padding: 10px $padding1;						
					}
					&:hover, &.active {
						a { background-color: $border-color; }
					}
				}
			}
		}
		header {
			@include position(fixed, 0 0 auto 0);
			background-color: $primary;
			box-shadow: $shadow1;
			height: $fixed-header-height;
			z-index: $zindex2;
			.logo {
				color: $white;
				font-size: 24px;
				line-height: $fixed-header-height;
				text-transform: uppercase;
				
			}
			li {
				display: inline-block;
				position: relative;
				&:before {
					@include position(absolute, 0 0 0 0);
					@include transition(all $normal ease-out);
					background-color: rgba(255, 255, 255, 0.22);
					border-radius: $half;
					content: "";
					margin: 5px;
					opacity: 0;
					transform: scale(0);
				}
				a {
					color: $white;
					display: inline-block;
					height: $fixed-header-height;
					line-height: $fixed-header-height;
					padding: 0 13px;
					position: relative;
					i.material-icons {
						line-height: $fixed-header-height;
					}
				}
				.submenu {
					@include position(absolute, $full 0 auto auto);
					@include transition(all $normal ease-out);
					background-color: $white;
					border-radius: 2px;
					box-shadow: $shadow1;
					min-width: 150px;
					opacity: 0;
					transform: scale(0.25, 0);
					transform-origin: $full 0;
					li {
						width: $full;
						a {
							color: $font-color1;
							height: auto;
							line-height: 30px;
							text-align: left;
							width: $full;
							&:hover {
								background-color: $border-color;
							}
						}
					}				
				}
				&.active {
					&:before {
						opacity: 1;
						transform: scale(1);
					}
					.submenu {
						opacity: 1;
						transform: scale(1, 1);
					}
				}				
			}
		}
		.page-content {
			padding-top: $fixed-header-height;
		}
	}
}